/* HEADER */

.header {
  display: grid;
  grid-template-columns: 40px auto auto;
  padding: 30px 50px;
}

.header__title {
  padding-left: 5px;
  font-weight: bold;
  font-size: 30px;
}

.header__menu {
  justify-self: end;
}

.header__links-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__link {
  display: block;
  letter-spacing: .7px;
  text-decoration: none;
}

/* COVER */

.cover {
  position: relative;
  z-index: 1;
  padding: 200px 70px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(0 0 0 / 0.6);
}

.cover__title {
  display: grid;
  position: relative;
  z-index: 3;
  gap: 40px;
  color: #fff;
  font-size: 60px;
  letter-spacing: 15px;
  text-transform: uppercase;
}

.aligned-text_center {
  justify-self: center;
}

.aligned-text_right {
  justify-self: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

/* PRODUCTION */

.production {
  padding: 100px 50px;
}

.production__heading {
  padding-bottom: 30px;
  font-size: 30px;
  letter-spacing: .7px;
  text-transform: uppercase;
  word-spacing: 15px;
}

.production__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.production__card-list-item {
  flex-grow: 1;
  flex-basis: 300px;
  min-height: 500px;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding: 50px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_lpc-4 {
  background-image: url(../images/lpc-4.jpg);
}

.card_type_lpc-5 {
  background-image: url(../images/lpc-5.jpg);
}

.card_type_uvs {
  background-image: url(../images/uvs.jpg);
}

.card__title {
  position: relative;
  z-index: 3;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 3;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
  letter-spacing: .6px;
}